<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2>you are editing the user:<%=user.email%></h2>
    <form method="POST" action="/user/<%=user.id%>?_method=PATCH" class="editForm">
        <textarea name="username"><%=user.username%></textarea><br/>
        <input name="password" placeholder="Enter password"/><br/>
        <button class="submit">edit</button>
    </form>
</body>
</html>