<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body class="homepage">
    <div class="home">
    <h2>The number of users are:<%=count%></h2>
    <a href="http://localhost:8080/user"><button >Show users</button></a>
    <a href="http://localhost:8080/user/new"><button>join us today!</button></a>
    </div>
</body>
</html>