<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new user</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2>Enter the details to create your account</h2>
    <form class="editForm" method="POST" action="/user">
        <input name="username" placeholder="Enter your username" type="text"/>
        <input name="email" placeholder="Enter your email address" type="email"/>
        <input name="password" placeholder="Enter a password" type="password"/>
        <h4 style="color:whitesmoke">The password should be a combination of letter,characters and numbers</h4>
        <button class="submit">Create Account</button>
    </form>
</body>
</html>